<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>メニュー画面</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/datatables/css/jquery.dataTables.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/momentjs/moment.js}"></script>
    <script type="text/javascript" th:src="@{/js/elements.js}"></script>
</head>
<!-- ナビゲーションバー -->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-for-elements" aria-controls="navbar-for-elements" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-for-elements">
        <a class="navbar-brand" href="/elements">Janaf</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/elements">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/form">Form</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/plot">Plot</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://kinetics.nist.gov/janaf/" target="_blank">NIST JANAF Link</a>
            </li>
        </ul>
    </div>
</nav>
<body>
<div class="container" style="margin-top:20px;padding-bottom:0px;">
    <h1>登録元素一覧表</h1>
    <table id="elements" class="table table-hover" cellspacing="0" width="100%">
        <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th>元素名称</th>
            <th>詳細URL</th>
            <th>更新時刻</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>ID</th>
            <th id="search">元素名称</th>
            <th>詳細URL</th>
            <th>更新時刻</th>
        </tr>
        </tfoot>
    </table>
</div>
</body>

<footer class="footer">
    <div class="container">
        <p class="text-muted">Copyright &copy; 2017 y-ok All Rights Reserved.</p>
    </div>
</footer>
</html>